on: [push, pull_request]

jobs:
  test_action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          message: |
            *Github workflow*
            Test message from action
            ${{ github.server_url }}/${{ github.repository }}/runs/${{ github.run_id }}
          chat_id: ${{ secrets.CHAT_ID }}
          bot_token: ${{ secrets.BOT_TOKEN }}
